<template>
  <div class="w-full sm:max-w-max mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
    <h1 class="mb-8 font-bold text-3xl">Книги</h1>

    <div class="bg-white rounded-md shadow overflow-x-auto">
      <table class="w-full whitespace-nowrap">
        <tr class="text-left font-bold">
          <th class="px-6 pt-6 pb-4">Заголовок</th>
          <th class="px-6 pt-6 pb-4">Автор(ы)</th>
          <th class="px-6 pt-6 pb-4" colspan="2">Кто добавил</th>
        </tr>
        <tr v-for="book in books.data" :key="book.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
          <td class="border-t px-4">
            {{ book.title }}
          </td>
          <td class="border-t px-4">
            <span v-for="(author, i) in book.authors">
                <span v-if="i !== 0">, </span><span>{{ author.name }}</span>
            </span>
          </td>
          <td class="border-t px-4">
            {{ book.user }}
          </td>
          <td class="border-t w-px px-4">
            <icon
                v-if="can_delete"
                name="trash"
                class="block w-6 h-6 fill-gray-400 cursor-pointer"
                @click="deleteBook(book.id)"
                title="Удалить"
            />
          </td>
        </tr>
        <tr v-if="books.data.length === 0">
          <td class="border-t px-6 py-4" colspan="4">Книг не найдено.</td>
        </tr>
      </table>
    </div>
    <pagination class="mt-6" :links="books.links" />
  </div>
</template>

<script>
import Icon from '@/Components/Icon'
import pickBy from 'lodash/pickBy'
import throttle from 'lodash/throttle'
import Pagination from '@/Components/Pagination'
import AuthenticatedLayout from "@/Layouts/Authenticated"

export default {
  metaInfo: { title: 'Книги' },
  components: {
    Icon,
    Pagination,
  },
  layout: AuthenticatedLayout,
  props: {
    can_delete: Boolean,
    books: Object,
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function() {
        this.$inertia.get(this.route('books'), pickBy(this.form), { preserveState: true })
      }, 150),
    },
  },
  methods: {
      deleteBook: function (bookId) {
          if (!confirm('Уверены?')) return;
          this.$inertia.delete('/books/' + bookId);
      }
  }
}
</script>
